<div class='main page'>
  <app-header-top></app-header-top>
  <div id='wrapper'>
    <!-- Sidebar -->
    <section id='sidebar'>
      <app-menu-left></app-menu-left>
    </section>

    <!-- Tools -->
    <section id='tools'>
      <ul class='breadcrumb' id='breadcrumb'>
        <li class='title'>Service Catalog</li>
      </ul>
      <div id='toolbar'>
      </div>
    </section>
    <!-- Content -->
    <div id='content'>
      <div class="row">
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="list-group-item no-float ">
              <div class="col-xs-8 no-float ">
                <div class="list-group">
                  <a href="#" class="col-xs-12 title">Data Protection</a>
                  <a href="#" class="col-xs-12">Cloud Backup</a>
                  <a  [routerLink]="['/dashboard/d-recovery']" class="col-xs-12">Disaster Recovery</a>
                  <a href="#" class="col-xs-12">Long Term Retention</a>
                </div>
              </div>
              <div class="col-xs-4 no-float"><i class="fa fa-shield" style="color:#000;font-size:135px;float:right"></i></div>
            </li>
          </ul>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="list-group-item no-float">
              <div class="col-xs-7 no-float">
                <div class="list-group">
                  <a href="#" class="col-xs-12 title">Storage</a>
                  <a href="#" class="col-xs-12">Object Store</a>
                  <a href="#" class="col-xs-12">Block Storage</a>
                  <a href="#" class="col-xs-12">File Systems</a>
                  <a href="#" class="col-xs-12">Archive Storage</a>
                </div>
              </div>
              <div class="col-xs-5 no-float"><i class="fa fa-list-ul" style="color:#000;font-size:135px;float:right"></i></div>
            </li>
          </ul>
        </div>
        <div class="col-xs-1"></div>
      </div>
    </div>
  </div>
</div>
