<div class='main page'>
  <app-header-top></app-header-top>
  <div id='wrapper'>
    <!-- Sidebar -->
    <section id='sidebar'>
      <app-menu-left></app-menu-left>
    </section>

    <!-- Tools -->
    <section id='tools'>
      <ul class='breadcrumb' id='breadcrumb'>
        <li class='title'>Catalog »  <a  [routerLink]="['/dashboard/catalog']">Data Protection</a> » Disaster Recovery
        </li>
      </ul>
      <div id='toolbar'>
      </div>
    </section>
    <!-- Content -->
    <div id='content'>
      <div class="row">
        <div class='panel panel-default grid'>
          <div class='panel-heading'>
            <i class='icon-table icon-large'></i>
            Disaster Recovery
          </div>
          <div class='panel-body'>
            <div>
              <ul class="list-inline">
                <li class="col-xs-4" style="vertical-align: top">
                  <table class='table table-bordered'>
                    <thead>
                    <tr>
                      <th class="title-top">
                        Protected Applications
                        <table class="col-xs-12">
                          <tr>
                            <td class="col-xs-6 title-second">Group</td>
                            <td class="col-xs-6 title-second">Server</td>
                          </tr>
                        </table>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor='let data of DataVM'>
                      <td style="padding-left:0px;padding-right:0px" class="remove-td">
                        <table class="col-xs-12 group-server">
                          <tr class="border-down">
                            <td class="col-xs-6" style="vertical-align: text-top;padding-left: 15px;font-weight: bold">{{data.name}}</td>
                            <td class="col-xs-6" style="padding-right:15px;padding-left:0px;">
                              <table class="col-xs-12">
                                <tr *ngFor="let server of data.items">
                                  <td style="padding-left:0px;" class="name-server">{{server.name}}</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </li>
                <li class="col-xs-4">
                  <div>
                    <div class="row text-center">
                      <div class="col-xs-4">
                        <div class="btn-group">
                          <div class="btn btn-primary" (click)="decrement()">
                            «
                          </div>
                          <div class="btn btn-default" (click)="today()">
                            Today
                          </div>
                          <div class="btn btn-primary" (click)="increment()">
                            »
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-8">
                        <h3 style="margin-top:0px;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                      </div>
                      <!--<div class="col-md-4">-->
                      <!--<div class="btn-group">-->
                      <!--<div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">Month</div>-->
                      <!--<div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">Week</div>-->
                      <!--<div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">Day</div>-->
                      <!--</div>-->
                      <!--</div>-->
                    </div>
                    <br>
                    <div [ngSwitch]="view">
                      <mwl-calendar-month-view
                        *ngSwitchCase="'month'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [activeDayIsOpen]="activeDayIsOpen"
                        (dayClicked)="dayClicked($event.day)">
                      </mwl-calendar-month-view>
                      <mwl-calendar-week-view
                        *ngSwitchCase="'week'"
                        [viewDate]="viewDate"
                        [events]="events">
                      </mwl-calendar-week-view>
                      <mwl-calendar-day-view
                        *ngSwitchCase="'day'"
                        [viewDate]="viewDate"
                        [events]="events">
                      </mwl-calendar-day-view>
                    </div>
                  </div>
                </li>
                <li class="col-xs-4" style="vertical-align: top">
                  <app-available-backups></app-available-backups>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
